.app {
  font: 18px "Nunito", san-serif;
  color: black;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
    &::before {
      content: '';
      inset: 0;
      z-index: -1;
      pointer-events: none;
    }
}